<div class="login-header shadow"> 
  <div class="row row-alignment">
    <div class="col-10 ml-5 mt-4">
      <strong>Login</strong>
    </div>
    <div class="col-1 btn-group" dropdown>

      <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" 
        aria-controls="dropdown-basic">
        <!-- <i class="navbar-toggler-icon"></i> -->
        <!-- <span class="caret"></span> -->
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Home</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Setting</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Quit</a></li>  
      </ul>
    </div>
  </div>
</div> 


