@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded&display=swap');
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$mynewcolor: #B33FE1;

.btn-primary {
  @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor, 5%), lighten($mynewcolor, 10%), darken($mynewcolor, 30%));
}

.btn-outline-primary {
  @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor, 5%), $mynewcolor);
}
