<div class="row">
  <div style="padding-top: 15px;
  padding-bottom: 15px; border-radius: 3%;" class="col-4 offset-4 shadow">
    <div class="form justify-content-center ">
      <div>
        <a class="float-left" [routerLink]="['/']" href="" title="Back">
          <i class="ml-1 mt-1 fa fa-chevron-circle-left fa-2x" style="color:#B33FE1"></i>
        </a>

        <h2
          style="text-align: center; font-family: 'Encode Sans Expanded', sans-serif; font-weight: bold; color:  #B33FE1;">
          Multi-Factor Authentication
        </h2>

        <p class="mt-1">
          Enter your Email, a verification code will be send to your email, copy the code and click next and add the
          code
        </p>
      </div>

      <input type="email" style="height:50px" class="form-control mt-5 " placeholder="Email">

      <a [routerLink]="['/mfa-otp']" routerLinkActive="active" style="font-family: 'Encode Sans Expanded', sans-serif;"
        class="mt-5 btn
        btn-primary btn-block">Next</a>

    </div>
  </div>
</div>
